<%= render 'shared/navbar' %>
<div class="page-content" id="content">
  <%= render 'shared/topbar' %>
    <div class="wrapper" id="dashboard_wrapper">
     <div class="header">
      <h1 id="date"> <%= Time.now.strftime("%A, %B %d")%> </h1>
      <div class="big_button btn btn-third">
        <p><i class="far fa-plus"></i>Add Event</p>
      </div>
    </div>
      <div class="card_wrap">
      <div class = "card3">
      <div>
        <h3> Remaining Hours </h3>
        <p> this week </p>
        <h2> <%= @hours_left.round %> hours </h2>
      </div>
    </div>

    <div class="card7">
      <h3> Upcoming Event </h3>
      <h4> <%= @upcoming_event.category.name %> </h4>

      <h6> <%= @upcoming_event.name %> </h6>
      <p> <%= @upcoming_event.starting_time.strftime("%A,%e %B") %> </p>
      <p><%=@upcoming_event.starting_time.strftime(("%H:%M"))   %> - <%= @upcoming_event.ending_time.strftime(("%H:%M"))  %></p>
    </div>
<!--       <div class = "card3">
      <div>
        <h3> Remaining Hours </h3>
        <p> next week </p>
        <h2> 28 hours </h2>
      </div>
      </div> -->
    </div>
      <h3>Categories </h3>
      <div class="cat_wrap">
      <% current_user.categories.each do |cat| %>
          <% unless cat.goal.nil? %>
        <div class="category">
        <h4> <%= cat.name %> </h4>
        <% goal = cat.goal %>
        <% if @hours_by_category[cat.id].nil? %>
        <% percentage = 0 %>
        <% time = cat.goal.goaltime.hour %>
        <% else %>
          <% time = (goal.goaltime.hour) -  @hours_by_category[cat.id] %>
          <% percentage =  (@hours_by_category[cat.id] / (goal.goaltime.hour)) * 100  %>
        <% end %>

          <p>You have <span><%= time  %> hour(s)</span> left on your goal of <span><%= goal.goaltime.hour %> hours </span> this week </p>
          <div class="progress w3-progress-container w3-round-xlarge">
            <div class="progress-bar progress-bar progress-bar-animated" role="progressbar" style="width: <%= percentage %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    </div>
    </div>
