<%= render 'shared/navbar' %>
<div class="page-content" id="content">
<%= render 'shared/topbar' %>
<div class="wrapper" id="dashboard_wrapper">
<h1> <%= Time.now.strftime("%A, %B %d")%> </h1>
<br>
<br>
<div>
<h2> Remaining free time this week: <%= @hours_left.round %> hours </h2>
</div>
<br>
<br>
<h1>Categories </h1> <%@hours_by_category.keys.each do |key| %>
 <h2> <%= key %> </h2>
 <h2> You scheduled <%= @hours_by_category[key] %> hours
<%  gc = Category.find_by(name: key) %>
<% user_goals = Goal.where(user: current_user, category: gc) %>
<% user_goals.each do |goal| %>
<% goal.goaltime.strftime("%H") %>
 on your goal of <%= goal.goaltime.strftime("%H")  %> hours </h2>
  <% end %>
<% end %>
</div>
</div>
