<%= render 'shared/navbar' %>
<div class="page-content p-5" id="content">
<h1> Remaining free time <%= @hours_left %> </h1>
<p><%= link_to "Back to my profile", profile_path(@profile) %></p>
<h1>Category </h1> <%@hours_by_category.keys.each do |key| %>
 <h2> <%= key %> </h2>
<h2> You passed <%= @hours_by_category[key] %> hours on your goal of 5.O </h2>
  <% end %>

<h3> My Events: <%= link_to events_path do  %>
<i class="fas fa-calendar-week"></i>
<% end %> </h3>
<h3> Profile: <%= link_to profile_path(@profile) do %>
  <i class="fas fa-users"></i>
  <% end %>
</h3>
</div>
