<%= render 'shared/navbar' %>
<div class="page-content" id="content">
  <%= render 'shared/topbar' %>
    <div class="wrapper" id="dashboard_wrapper">

      <h1 id="date"> <%= Time.now.strftime("%A, %B %d")%> </h1>
      <div class="card_wrap">
      <div class = "card3">
      <div>
        <h3> Remaining Hours </h3>
        <p> this week </p>
        <h2> <%= @hours_left.round %> hours </h2>
      </div>
    </div>
<!--       <div class = "card3">
      <div>
        <h3> Remaining Hours </h3>
        <p> next week </p>
        <h2> 28 hours </h2>
      </div>
      </div> -->
    </div>
      <h3>Categories </h3>
      <div class="cat_wrap">
      <%@hours_by_category.keys.first(5).each do |key| %>
        <div class="category">
        <h4> <%= key %> </h4>

        <%  gc = Category.find_by(name: key) %>
        <% user_goals = Goal.where(user: current_user, category: gc) %>
        <% user_goals.each do |goal| %>
          <% time = (goal.goaltime.hour) -  @hours_by_category[key] %>
          <% percentage =  (@hours_by_category[key] / (goal.goaltime.hour)) * 100  %>

          <p>You have <span><%= time  %> hour(s)</span> left on your goal of <span><%= goal.goaltime.hour %> hours </span> this week </p>
          <div class="progress w3-progress-container w3-round-xlarge">
            <div class="progress-bar progress-bar progress-bar-animated" role="progressbar" style="width: <%= percentage %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
    </div>
        <% end %>
      <% end %>
    </div>
    </div>
    </div>
