<%= render 'shared/navbar' %>
<div class="page-content" id="content">
<%= render 'shared/topbar' %>
<div class="wrapper">
<%= simple_form_for current_user.user_setting, url: profile_path, method: :patch do |f| %>
<%= f.input :bed_time %>
<%= f.input :wake_time %>
<%= f.input :work_start %>
<%= f.input :name %>
<%= f.input :work_end %>
<%= f.submit %>
<% end %>

<%= link_to "Back", profile_path(@profile) %>
</div>
</div>
