<%= render 'shared/navbar' %>
<div class="page-content p-5" id="content">
<h1> Your Profile </h1>

<h2><%= @user_setting.name %>
  <%= link_to "edit", profile_edit_path(@profile) %></h2>
<h2> From <%= @user_setting.bed_time.strftime("%H:%M") %> to
<%= @user_setting.wake_time.strftime("%H:%M") %>
  <%= link_to "edit", profile_edit_path(@profile) %></h2>
<h2> From <%= @user_setting.work_start.strftime("%H:%M") %> to
<%= @user_setting.work_end.strftime("%H:%M") %>
<%= link_to "edit", profile_edit_path(@profile) %></h2>
<h2><%= current_user.email %></h2>


 <p> <%= link_to "My events", events_path(@events) %> </p>
 <p> <%= link_to "Dashboard", dashboard_path %> </p>

<h3> My Events: <%= link_to events_path do  %>
<i class="fas fa-calendar-week"></i>
<% end %> </h3>
<h3> Dashboard: <%= link_to dashboard_path do %>
 <i class="fas fa-columns"></i>
 <% end %>
</h3>
</div>