<%= render 'shared/navbar' %>
<div class="page-content" id="content">
<%= render 'shared/topbar' %>
<div class="wrapper">
<div class ="card4">

<h1>Hi <%= @user_setting.name %>!</h1>
<br>
<br>
<h2>Take a look at your settings!</h2>
<br>
<br>
<h4> Sleeping hours </h4>
<h2> From <%= @user_setting.bed_time.strftime("%H:%M") %> to
<%= @user_setting.wake_time.strftime("%H:%M") %></h2>
<br>
<h4>Working hours</h4>
<h2> From <%= @user_setting.work_start.strftime("%H:%M") %> to
<%= @user_setting.work_end.strftime("%H:%M") %></h2>
<br>
<h4><%= link_to "edit", profile_edit_path(@profile) %></h4>

</div>
</div>
</div>
