<div class="form_wrapper">
  <div class="form">
    <h2>Goals</h2>
    <div class="form-inputs">
      <%= simple_form_for @categories, url: setup_hours_path do |f| %>
      <%= f.input :bed_time, :as => :time, :minute_step => 15 %>
      <%= f.input :wake_time, :as => :time, :minute_step => 15 %>
      <%= f.input :work_start, :as => :time, :minute_step => 15 %>
      <%= f.input :work_end, :as => :time, :minute_step => 15 %>
    </div>
    <div class="form_center_actions">
      <div class="form-actions">
        <%= f.button :submit, "Next", class: "btn btn-primary" %>
     </div>
    </div>
    <% end %>
  </div>
</div>
