<div class="goal_wrapper">
  <div class="goals_form">
    <div class="scroll">
      <h2>Goals</h2>
      <p id="info-text">Time to set your goals. This is how much time you want to spend on each category in a week. And don’t worry you can change these later if you need to.</p>
      <div class="categories_wrap">
      <% current_user.categories.each do |cat| %>
      <%= render "partials/goals_form", goal: @goal, cat: cat %>
      <% end %>
      </div>


      <div class="custom_category">
        <p>Add your own categories</p>
        <%= simple_form_for @category, url: categories_path, remote: true do |f| %>
        <div class="input-icon">
          <%= f.input :name, label: false %>
          <%= f.button :button do %><i class="fas fa-arrow-circle-up fa-lg"></i><% end %>
        </div>
        <% end %>
      </div>
      <br>
  <a href="<%= dashboard_path %>" class="btn btn-primary text-white">Finish</a>
    </div>
  </div>
</div>


<script>
  function toggleSubmitGoal(element, addgoal) {
    const submitGoal = document.querySelector(`#${element}`);
    console.log(submitGoal);
    submitGoal.setAttribute('style', 'display: unset !important;');
    addgoal.setAttribute('style', 'display: none;');
  }
</script>
