<%= render 'shared/navbar' %>
<div class="page-content" id="content">
<%= render 'shared/topbar' %>
<div class="wrapper">
<%= simple_form_for @event do |f| %>
<%= f.association :category %>
<%= f.input :name %>
<%= f.input :description%>
<%= f.input :starting_time%>
<%= f.input :ending_time%>
<%= f.submit %>
<% end %>
<p><%= link_to "Back", events_path %></p>
</div>
</div>
