<!DOCTYPE html>
<html>
  <head>
    <title>Cadence Control the rythms of your life</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property='og:title' content='Cadence - Control the Rhythms of your Life'/>
    <meta property='og:image' content='https://res.cloudinary.com/tomw/image/upload/v1607442517/social-media_fmli0q.png'/>
    <meta property='og:description' content='Time is money. Right? We’ve all heard that famous saying but at Cadence we believe time is even more valuable that money. Time cannot be gained or lost, it can only be spent. So spent it well! We can help you do that by treating time just like the money in your bank account.'/>
    <meta property='og:url' content='http://www.cadence.today'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag %>
  </head>

  <body>
   <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
